/* Затемнение и стили для полноэкранного просмотра */
.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(50px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.fullscreen-overlay > img {
    object-fit: contain;
    width: 80%;
    height: auto;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    animation: slideIn 0.5s ease-in-out forwards;
}
/* Добавляем класс для анимации исчезновения */
.fullscreen-image.closing {
    animation: slideOut 0.5s ease-in-out forwards;
}

/* Анимация появления изображения */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Анимация исчезновения изображения */
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(50px);
    }
}
