@import url(/fonts/golos_web/golostext.css);
@import url(/fonts//intro/intro.css);
@import url(/fonts/lekton-nerd-font-mono/lekton-nerd-font-mono.css);

/* Для всех браузеров с поддержкой ::-webkit-scrollbar */
::-webkit-scrollbar {
    width: 5px;
    /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: #181818;
    /* Цвет фона (черный) */
}

::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    /* Цвет полосы  */
    border-radius: 10px;
    /* Закругленные края */
    border: 2px solid #252525;
    /* Обводка для отступов */
}

/* Для Firefox */
* {
    scrollbar-width: thin;
    /* Узкий скроллбар */
    scrollbar-color: #cfcfcf #252525;
    /* Цвет полосы и фона */
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: #0000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Golos Text', sans-serif;
    background-color: #0c0c0c;
    color: #ffffff81;
}

.content_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.block_content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    height: 100%;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    border: 1px solid #272727;
    background-color: #131313;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 4px 8px #00000042;
}
b {
    font-weight: 700;
    font-size: 1.1em;
}
a {
    text-decoration: none;
    color: #ad7dfc;
    font-weight: 700;
}
.tag {
    width: 60%;
    font-weight: 700;
    font-size: 1.4em;
}
.name_page {

}
.text_block {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
ul {
    margin-left: 15px;
}
@media (hover:hover) {
    a:hover {
        transition: all 0.3s ease-in-out;
        color: #8369ad;
    }
}
@media (max-width: 1200px) {
    .content_center {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .block_content {
        width: 90%;
        border-radius: 0%;
        padding: 40px;
    }
    .text_block {
        width: 90%;
    }
    .tag {
        width: 70%;
        font-size: 0.8em;
    }
}